<script src="<%=@processing.ws_javascript%>"></script>
<div class="progress-bg">
    <div class="logo">
        <span>CodePraise</span>
        <span class='msg'>Message</span>
    </div>
    <div class="progress-section">
        <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
</div>
<script>
    channel = "<%=@processing.ws_channel_id%>";
    client = new Faye.Client("<%=@processing.ws_route%>");
    progress_bar = document.querySelector('.progress-bg .progress-bar');
    client.subscribe('/' + channel, function(message) {
        result = progessing(progress_bar, message, () => { return true; })
        if (result){
            setTimeout(function () {
                location.reload();
            }, 1000);
        }
    });
</script>