#appraisal .bg{
    display: flex;
    width: 100vw;
    height: 100vh;
}

#appraisal .progress-bg{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--main-light-color);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#appraisal .progress-bg .logo{
    display: flex;
    flex-direction: column;
    flex: 0.7;
    align-items: center;
    justify-content: flex-end;
}

#appraisal .progress-bg .msg{
    font-size: 15pt;
    font-weight: normal;
}

#appraisal .progress-bg .progress-section{
    margin-top: 1%;
    flex: 1;
    width: 50vw;
}

#appraisal .progress-bg .progress-section .progress{
    background-color: white;
}

#appraisal .progress-bg .progress-section .progress-bar{
    background-color: var(--main-dark-color);
}

#appraisal .side-bar{
    height: 100vh;
    width: 17vw;
    padding: 1.5%;
    display: flex;
    flex-direction: column;
    box-shadow:  13px -2px 5px -5px #e0e0e0;
    z-index: 1;
    position: relative;
    background-color: var(--main-dark-color-op);
    color: var(--main-light-color);
}

#appraisal .side-bar .logo{
    font-size: 18pt;

    margin-bottom: 20%;
}

#appraisal .side-bar .logo img{
    width: 20%;
    height: 100%;
    margin-right: 1%;
}

#appraisal .side-bar .logo a{
    color: var(--main-light-color);
}


#appraisal .side-bar .folders{
    flex: 1;
    display: flex;
    flex-direction: column;
    color: var(--main-light-color);
}

#appraisal .side-bar .folders a{
    color: var(--main-light-color);
}

#appraisal .side-bar .folders .project_name{
    font-weight: bold;
    font-size: 16pt;
    margin-bottom: 3%;
}

#appraisal .side-bar .folders ul{
    list-style-type: none;
}

#appraisal .side-bar .folders .folder-tree{
    margin-left: -10%;
    font-size: 12pt;
}

#appraisal .side-bar .folders .folder-tree .children{
    display: none;
}

#appraisal .side-bar .folders .folder-tree .active{
    display: block;
    padding: 0;
    margin-left: 3%;
    list-style-type: none;
}

#appraisal .main{
    flex: 1;
    background-color: var(--dashboard-bg);
    flex-direction: column;
    height: 100vh;
    width: 75vw;
    padding: 1.5%;
}

#appraisal .main .bar{
    height: 6vh;
    display: flex;
}

#appraisal .main .bar .panel-name{
    font-size: 18pt;
    font-weight: bold;
    /* text-shadow: 2pt 2pt gray; */
}

#appraisal .main .panel{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1%;
}

#appraisal .main .panel .tab{
    padding: 1%;
    border-radius: 25pt;
    box-shadow: 1px 1px 1px 1px gray;
    margin-bottom: 1%;
    width: fit-content;
}

#appraisal .main .panel .tab .category{
    width: max-content;
    display: flex;
}

#appraisal .main .panel .tab .category div{
    padding: 1%;
}

#appraisal .main .panel .tab .category div a{
    width: 8vw;
    margin: 1% 1%;
    font-size: 12pt;
    font-weight: bold;
    color: gray;
}

#appraisal .main .panel .tab .category div .selected{
    color: black;
}

/* Productivity Boards */

#appraisal .main .panel .productivity{
    display: flex;
    flex-direction: column;
}

#appraisal .main .panel .productivity .up-board{
    display: flex;
    flex: 1.2;
    flex-direction: column;
    padding: 0.5%;
    background-color: white;
    border-radius: 15px;
}

#appraisal .main .panel .productivity .up-board .chart-title{
    margin-bottom: 1%;
    align-self: center;
}

#appraisal .main .panel .productivity .up-board .charts{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#appraisal .main .panel .productivity .up-board .charts .chart{
    flex: 1;
    height: 28vh;
    width: 5vw;
}


#appraisal .main .panel .productivity .down-board{
    flex: 1;
    display: flex;
}

#appraisal .main .panel .productivity .down-board .chart-container{
    flex: 1;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
}

#appraisal .main .panel .productivity .down-board .chart-container .informations{
    flex: 1;
    margin-bottom: 2%;
    background-color: white;
}

#appraisal .main .panel .productivity .down-board .chart-container .chart{
    flex: 5.5;
    background-color: white;
}

#appraisal .main .panel .productivity .down-board .contributor-table{
    margin-left: 2%;
    margin-top: 2%;
    background-color: white;
    display: flex;
    flex: 1.5;
    font-size: 0.5rem;
    padding: 2%;
    border-radius: 15px;
}