/* #appraisal .individual_contribution{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: inherit;
}

#appraisal .individual_contribution .up-part{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0% 0.5% 1% 0.5%;
}

#appraisal .individual_contribution .up-part .a-board{
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: var(--board-bg);
}

#appraisal .individual_contribution .up-part .a-board .board-title{
    display: flex;
    flex: 0.15;
    padding: 0.5% 1% 0% 1.5%;
    flex-direction: column;
    justify-content: flex-start;
}

#appraisal .individual_contribution .up-part .a-board .board-title .tool{
    display: flex;
}

#appraisal .individual_contribution .up-part .a-board .board-title .tool button{
    margin-left: auto;
}


#appraisal .individual_contribution .up-part .a-board .content{
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

#appraisal .individual_contribution .up-part .element{
    flex: 1;
    padding: 0 1% 0 1%;
}

#appraisal .individual_contribution .bottom-part{
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 0% 0.5% 0% 0.5%;
}

#appraisal .individual_contribution .bottom-part .b-board{
    display: flex;
    flex: 2.3;
    background-color: var(--board-bg);
    margin-right: 1%;
    flex-direction: column;
}

#appraisal .individual_contribution .bottom-part .b-board .board-title{
    display: flex;
    padding: 1% 3% 1% 3%;
    flex-direction: column;
    flex: 0.15;
}

#appraisal .individual_contribution .bottom-part .b-board .content{
    flex: 1;
    display: flex;
}

#appraisal .individual_contribution .bottom-part .c-board{
    display: flex;
    background-color: var(--board-bg);
    flex: 3;
    flex-direction: column;
}

#appraisal .individual_contribution .bottom-part .c-board .board-title{
    display: flex;
    padding: 1% 2% 1% 2%;
    flex-direction: column;
    flex: 0.135;
}

#appraisal .individual_contribution .bottom-part .c-board .content{
    flex: 1;
    display: flex;
}

#appraisal .individual_contribution .bottom-part .element{
    flex: 1;
    display: flex;
    padding: 0 2% 0 2%;
}

 */
