.overview{
    flex: 1;
    padding: 1% 1% 1% 1%;
    display: flex;
    flex-direction: column;
}

.overview .title-bar{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0% 1% 0% 1%;
    border-bottom: solid 1pt var(--light-text);

}

.overview .title-bar .title{
    font-size: 16pt;
}

.overview .title-bar .coverage{
    margin-left: auto;
}

.overview .panel{
    margin-top: 1%;
    flex: 20;
    display: flex;
    flex-direction: column;
}

.overview .panel .up{
    flex: 1;
    display: flex;
}

.overview .panel .bottom{
    flex: 1.3;
    display: flex;
    padding: 1% 1% 0% 1%;

}

.overview .panel .up .left, .overview .panel .up .mid{
    flex: 1;
    display: flex;
    padding: 0% 1% 0% 1%;
}

.overview .panel .up .right{
    flex: 1.3;
    display: flex;
    padding: 0% 1% 0% 1%;
}

.overview .panel .up .board{
    flex: 1;
    border: solid 2pt var(--board-border);
    display: flex;
    flex-direction: column;
    padding: 1.5%;
}

.overview .panel .up .board .titles{
    flex: 1.5;
    padding: 1% 2% 1% 2%;
}

.overview .panel .up .board .informations{
    flex: 4.5;
    display: flex;
    padding: 1% 2% 1% 2%;
}

.overview .panel .up .board .informations .info{
    flex: 1;
    border-left: solid 2pt #0EA0CC;
    padding: 0% 2% 0% 3%;
    color: var(--main-dark-color)
}

.overview .panel .up .board .elements{
    flex: 15;
    display: flex;
    flex-direction: column;
}

.elements .element{
    flex: 6;
}

.bars{
    padding: 2%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}


.overview .panel .bottom .board{
    flex: 1;
    border: solid 2pt var(--board-border);
    display: flex;
    flex-direction: column;
    padding: 1% 0.75% 0% 0.75%;
}

.overview .panel .bottom .board .titles{
    flex: 1;
    text-align: center;
}

.overview .panel .bottom .board .tools{
    flex: 1;
    display: flex;
    padding: 0 3% 0 3%;
    align-items: flex-end;
    justify-items: flex-end;
    margin-bottom: 1%;
}

.overview .panel .bottom .board .tools .double-slider{
    flex: 8;
}

.overview .panel .bottom .board .tools .selector{
    flex: 1;
    margin-left: 5%;
    display: flex;
    align-items: baseline;
    white-space:nowrap;
    justify-items: baseline;
}

.overview .panel .bottom .board .tools .selector select{
    margin-left: 10%;
    max-height: 40pt;
    font-size: 12pt;
    max-width: 80pt;
}

.overview .panel .bottom .board .elements{
    flex: 9;
    display: flex;
}

.overview .panel .bottom .board .element{
    flex: 1;
}
