
.ownership{
    flex: 1;
    padding: 1% 1% 1% 1%;
    display: flex;
    flex-direction: column;
}

.ownership .title-bar{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0% 1% 0% 1%;
    border-bottom: solid 1pt var(--light-text);
}

.ownership .title-bar .title{
    font-size: 16pt;
}

.ownership .panel{
    margin-top: 1%;
    flex: 20;
    display: flex;
    flex-direction: column;
}

.ownership .panel .board{
    flex: 1;
    display: flex;
    flex-direction: column;
    border: solid 2pt var(--board-border);
}

.ownership .panel .element{
    flex: 1;
}

.ownership .panel .top{
    flex: 1.2;
    display: flex;
}

.ownership .panel .top .left{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.ownership .panel .top .board{
    margin-right: 1vw;
    margin-bottom: 1vw;
}

.ownership .panel .top .left .titles{
    flex: 1;
    padding: 1% 0 0 4%;
    text-align: center;
}

.ownership .panel .top .left .elements{
    flex: 10;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.ownership .panel .top .left .elements .element{
    flex: 1;
}

.ownership .panel .top .left .elements{
    display: flex;
    padding: 0 5% 0 5%;
}

.ownership .panel .top .right .titles{
    flex: 1;
    text-align: center;
    padding: 1% 0 0 2%;
}

.ownership .panel .top .right .tools{
    flex: 1;
    display: flex;
    padding: 0 2% 0 0;
}

.ownership .panel .top .right .tools button{
    margin-left: auto;
    max-height: 30pt;
}

.ownership .panel .top .right .elements{
    padding: 0 1.5% 0 1.5%;
    flex: 10;
    display: flex;
}

.ownership .panel .top .right{
    flex: 3;
    display: flex;
}

.ownership .panel .bottom{
    flex: 1;
    display: flex;
}

.ownership .panel .bottom .titles{
    flex: 1.2;
    padding: 1% 0 0 1%;
    text-align: center;
}

.ownership .panel .bottom .tools{
    flex: 1;
    display: flex;
}

.ownership .panel .bottom .tools .selector{
    margin-left: auto;
    padding: 0 2% 0 0;
    max-width: 120pt;
}


.ownership .panel .bottom .tools .selector select{
    font-size: 14pt;
    max-height: 30pt;
    max-width: 120pt;
}

.ownership .panel .bottom .elements{
    flex: 10;
    display: flex;
    padding: 0 1.5% 0 1.5%;
}
