.productivity{
    flex: 1;
    padding: 1% 1% 1% 1%;
    display: flex;
    flex-direction: column;
}

.productivity .title-bar{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0% 1% 0% 1%;
    border-bottom: solid 1pt var(--light-text);
}

.productivity .title-bar .title{
    font-size: 16pt;
}

.productivity .panel{
    margin-top: 1%;
    flex: 20;
    display: flex;
    flex-direction: row;
}

.productivity .panel .board{
    flex: 1;
    display: flex;
    flex-direction: column;
    border: solid 2pt var(--board-border);
}

.productivity .panel .left{
    flex: 3;
    display: flex;
    flex-direction: column;
}

.productivity .panel .left .a-board{
    margin-right: 2%;
    padding: 0 3% 0 3%;
}

.productivity .panel .left .a-board .titles{
    flex: 1;
    padding: 1%;
    text-align: center;
}

.productivity .panel .left .a-board .tools{
    flex: 1.5;
    display: flex;
    padding: 0 2% 0 2%;
}

.productivity .panel .left .a-board .tools .double-slider{
    flex: 3;
    margin-right: 2%;
}

.productivity .panel .left .a-board .tools .selector{
    flex: 1;
    display: flex;
    align-items: baseline;
    white-space:nowrap;
    justify-items: baseline
}

.productivity .panel .left .a-board .tools .selector select{
    margin-left: 5%;
    max-height: 40pt;
    font-size: 12pt;
    max-width: 80pt;
}

.productivity .panel .left .a-board .elements{
    flex: 22;
    flex-wrap: nowrap;
    display: flex;
    flex-direction: column;
}

.productivity .panel .right{
    flex: 2;
    display: flex;
    flex-direction: column;
}

.productivity .panel .right .top{
    flex: 1.5;
    display: flex;
}

.productivity .panel .right .bottom{
    flex: 1;
    display: flex;
}

.productivity .panel .top .b-board{
    margin-bottom: 3%;
    padding: 0 5% 0 5%;
}

.productivity .panel .top .b-board, .productivity .panel .bottom .c-board{
    margin-right: 3%;
    padding: 0 2% 0 2%;
}

.productivity .panel .top .b-board .titles{
    flex: 1;
    padding: 2% 0 0 0;
    text-align: center;
}

.productivity .panel .top .b-board .elements{
    flex: 20;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0 2% 0 2%;
    margin-left: 10%;
    font-size: 16pt;
}

.productivity .panel .top .b-board .elements .element{
    flex: 1;
}

.productivity .panel .top .b-board .elements .bars .bar .name{
    flex: 4;
}

.productivity .panel .top .b-board .elements .bars .bar .line{
    flex: 4;
}

.productivity .panel .top .b-board .elements .bars .bar .number{
    flex: 3;
}

.productivity .panel .bottom .c-board .titles{
    flex: 3;
    padding: 2% 0 0 0;
    text-align: center;
}

.productivity .panel .bottom .c-board .elements{
    flex: 20;
    display: flex;
    flex-wrap: nowrap;
}

.productivity .element{
    flex: 1;
}
