.quality{
    flex: 1;
    padding: 1% 1% 1% 1%;
    display: flex;
    flex-direction: column;
}

.quality .title-bar{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0% 1% 0% 1%;
    border-bottom: solid 1pt var(--light-text);
}

.quality .title-bar .tabs{
    margin-left: 1%;
    display: flex;
    flex: 1;
    align-self: flex-end;
}

.quality .title-bar .tab{
    max-width: fit-content;
    margin-left: 0.2%;
    padding: 0.3%;
    border: solid 1pt var(--light-text);
    border-bottom: none;
    white-space: nowrap;
}

.quality .title-bar .tabs .selected{
    background-color: var(--light-text);
}


.quality .title-bar .tools{
    flex: 1;
}

.quality .title-bar .tools button{
    float: right;
    margin-right: 1%;
}

.quality .title-bar .title{
    font-size: 16pt;
}

.quality .panel{
    margin-top: 1%;
    flex: 20;
    display: flex;
    flex-direction: column;
}

.quality .panel .board{
    flex: 1;
    display: flex;
    flex-direction: column;
    border: solid 2pt var(--board-border);
}

.quality .panel .board .elements .element{
    flex: 1;
}

.quality .panel .top{
    display: flex;
    flex: 1;
}

.quality .panel .top .board{
    margin-bottom: 1.5vw;
    margin-right: 1vw;
}

.quality .panel .top .left{
    flex: 1;
    display: flex;
}

.quality .panel .top .left .a-board .titles{
    flex: 1;
    text-align: center;
    padding: 1% 0 0 0;
}

.quality .panel .top .left .a-board .elements{
    margin-top: 3%;
    flex: 10;
    display: flex;
    flex-wrap: wrap;
    padding: 0 2% 0 5%;
    flex-direction: column;
}

.quality .panel .top .left .a-board .element{
    max-height: 20vh;
    flex: 1;

}

.quality .panel .top .left .a-board .tables{
    display: flex;
    flex-wrap: wrap;
    margin-top: 3%;
}

.quality .panel .top .right{
    flex: 1;
    display: flex;
}

.quality .panel .top .right .b-board .titles{
    flex: 1;
    text-align: center;
    padding: 1% 0 0 0;
}

.quality .panel .top .right .b-board .elements{
    flex: 10;
    display: flex;
    padding: 0 2% 0 2%;
}

.quality .panel .bottom{
    display: flex;
    flex: 1;
}

.quality .panel .bottom .board{
    margin-right: 1vw;
}

.quality .panel .bottom .c-board .titles{
    flex: 1;
    text-align: center;
    padding: 1% 0 0 0;
}

.quality .panel .bottom .c-board .elements{
    flex: 11;
    display: flex;
    padding: 0 1% 1% 1%;
}

.quality .panel .bottom .c-board .element{
    margin-right: 5%;
}

.quality .panel_2{
    margin-top: 1%;
    flex: 20;
    display: none;
    flex-direction: column;
}

.quality .panel_2 .d-board{
    flex: 1;
    display: flex;
    flex-direction: column;
    border: solid 2pt var(--board-border);
    margin: 0 1% 0 1%;
}

.quality .panel_2 .d-board .titles{
    flex: 0.5;
    padding: 1% 0 0 0;
    text-align: center;
}

.quality .panel_2 .d-board .tools{
    flex: 1;
}

.quality .panel_2 .d-board .tools .selector{
    flex: 1;
    float: right;
    margin-left: auto;
    height: fit-content;
    display: flex;
    max-width: fit-content;
    flex-direction: column;
    margin-right: 2%;
}

.quality .panel_2 .d-board .tools .selector select{

}

.quality .panel_2 .d-board .elements{
    flex: 13;
    padding: 0 1% 0 1%;
    display: flex;
}

.quality .panel_2 .d-board .element{
    flex: 1;
}
