:root {
    --main-light-color: #B5B8BD;
    --main-dark-color: #3F4A58;
    --main-dark-color-op: rgb(63,73,88, 0.6);;
    --dashboard-bg: #F3F5F7;
    --dashboard-bar: #F3F5F7;
    --panel-bg: #F8F6F7;
    --panel-title: rgb(63,73,88, 0.3);
    --title-color: 3F4A58;
    --board-bg: white;
    --board-border: #EDF5FC;
    --light-text: #A8B2B8;
    --sub-dark-color: #0EA0CC;
    --sub-light-color: #EDF5FC;
}

body{
    font-family: Arial;
}

.logo{
    color: var(--light-text);
    font-weight: bold;
    font-size: 18pt;
}

.hidden{
    display: none;
}

.treemap{
    height: 100%;
    width: 100%;
}

.test{
    border-style: solid;
}

.title{
    font-size: 13pt;
    color: var(--main-dark-color);
}

.subtitle{
    font-size: 11pt;
    margin-left: 1%;
    color: var(--main-dark-color-op);
}

.subtitle a{
    color: var(--main-dark-color-op);
}

.critical{
    font-weight: bold 1pt;
    font-size: 28pt;
}

.bar-title{
    font-weight: bold;
}

.bars .bar{
    flex: 1;
    display: flex;
    max-height: 3vh;
    min-height: 3vh;
    align-items: center;
    font-size: 10pt;
}

.bars .first{
    font-weight: bold;
    margin-bottom: 0.7vw;
}

.bars .bar .name{
    flex: 5;
    margin-right: 5%;
}
.bars .bar .line{
    flex: 6;
    margin-right: 5%;
}
.bars .bar .line .progress{
    background-color: var(--main-light-color);
}
.bars .bar .line .progress-bar{
    background-color: var(--main-dark-color);
}
.bars .bar .number{
    flex: 1;
}

.bar-title{
    flex: 0.2;
}


.folders{
    flex: 1;
    display: flex;
    flex-direction: column;
    color: var(--main-dark-color);
}

.folders a{
    color: var(--main-dark-color);
}

.folders ul{
    list-style-type: none;
}

.folders .folder-tree{
    margin-top: 5%;
    margin-left: 5%;
    font-size: 16pt;
}

.folders .folder-tree li{
    margin-top: 1%;
}

.folders .folder-tree .children{
    display: none;
}

.folders .folder-tree .active{
    display: block;
    padding: 0;
    margin-left: 3%;
    list-style-type: none;
}

.caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
}

  /* Create the caret/arrow with a unicode, and style it */
.caret::before {
    content: "\25B6";
    color: var(--main-dark-color);
    display: inline-block;
    margin-right: 6px;
}

  /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
    transform: rotate(90deg);
}

.small_table{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0% 2% 0% 2%;
}

.small_table .title{
    flex: 2;
    font-weight: bold;
    font-size: 14pt;
    display: flex;
    align-items: center;
    border-bottom: solid 1pt var(--sub-dark-color);
}

.small_table .infos{
    flex: 10;
    display: flex;
    flex-direction: column;
    padding: 5% 3% 5% 3%;
}

.small_table .infos .info{
    flex: 1;
    display: flex;
}

.small_table .infos .info{
    flex: 1;
    display: flex;
    max-height: fit-content;
    margin-bottom: 3%;
    font-size: 10pt;
    color: #374249;
}

.small_table .infos .info .name{
    flex: 10;
    display: flex;
}

.small_table .infos .info .number{
    flex: 1;
    margin-left: auto;
}

.double-slider{
    display: flex;
    flex-direction: column;
}

.double-slider .label{
    margin-bottom: 1%;
}

.my-custom-scrollbar {
    position: relative;
    height: 40vh;
    overflow: auto;
    display: block;
}
